
/*Fuentes Alternativas */
@font-face
{
font-family: SegoeUI;
src:url(fonts/SegoeUI.ttf) format('truetype');

font-family: MisteryQuest;
src: url(fonts/MisteryQuest.ttf) format('truetype');

font-family:MonotypeCorsiva;
src:url(fonts/MonotypeCorsiva.ttf) format('truetype');


}



#logonav {
    height: 72px;
    width: 200px;
    background-image:url("Logomarron-iloveimg-resized.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 1%;
    
}

#divnav {
    width: 100%;
    height: 15%;
   
}



#navprincipal {
    z-index:10000;
    background-color:white;
    
}


.navbar-dark .navbar-nav .nav-link {
    
    color: rgb(247, 11, 108);
    font-weight: 600;
    font-size: 17px;
    
}


.navbar-nav{
margin-left: 50%;

}




#imgjumbo {

    width: auto;

}
.dropdown-menu{ 
    background-color:white;
    border: none;

}

.dropdown-item {
    color:rgb(247, 11, 108);
    font-weight: 600;
}

.dropdown-item:hover {
    
    font-weight: 600;
    color:rgb(117, 75, 35);
}



#jumbo {
    padding: 0%;
    margin: none;
}

#textjumbo {
    position:absolute;
	z-index:9999;
    margin-top:30%;
    margin-left: 60%; 
    color:white;
    height: auto;
    width: auto;
    
}

#pjumbo {
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}




.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color:rgb(68, 66, 66);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    /*background-color: rgb(95, 2, 31);*/
    color: rgb(117, 75, 35);
    border-radius:5px;
      

}


.hsecciones {
    margin-top: 5%;
    font-size: 3em;
    color:rgb(95, 2, 31);
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.pinformacion {
    text-align: center;
    padding: 2%;
    font-family:MonotypeCorsiva;
    font-size:xx-large;
    

}


#hmision {
    color: white;

}
#divmision {
    background-color:rgb(95, 2, 31);
    color:white;
    

}

#poligono {
    position: absolute;
    margin-top: -1.5%

  
}


#cardfooter{
    position: absolute;
	margin-bottom:0;
	left:0;
    width: 100%;
    border: 0px;
   	
}

.card-body-1 {
	height:300px;
	background-color:rgba(39, 38, 41, 0.9);
    background-color: black;
	color:white;
    border-bottom: 1px solid;
    border-color: black;
       
	
}

.listafooter{
    margin-left: 45%;
    margin-top: 9%;
    
}

#botonmensaje {

	margin-left:2%;
    margin-top: 7%;
	position:absolute;
	
}

#modalmensaje {
	margin-top:120px;
	border-color:black;
	color:black;
	
}

.alert-primary{
	position:fixed;
	z-index:1000;
	margin-top:20px;
	border-radius:50px;
    display: none;
		
}