
/*Fuentes Alternativas */
@font-face
{

font-family: SegoeUI;
src:url(fonts/SegoeUI.ttf) format('truetype');

}

@font-face
{
    font-family: MisteryQuest;
src:url(fonts/MysteryQuest.ttf) format('truetype');
}

@font-face
{    
font-family:MonotypeCorsiva;
src:url(fonts/MonotypeCorsiva.ttf) format('truetype');
}


#headernav {

        width: 100%;
        height: 90px;
        
}

#navprincipal {
    z-index:10000;
    background-color:white;
    position: fixed;
    width: 100%;
      
}


#logonav {
    
    height: 72px;
    width: 200px;
    background-image:url("Logomarron-iloveimg-resized.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 2%;
    
}

.navbar-nav {
    margin-left: 50%;
    
         }
    

.navbar-dark .navbar-nav .nav-link {
    
    color: rgb(247, 11, 108);
    font-weight: 400;
    font-size: 1em;
       
}


.dropdown-menu{ 
    background-color:white;
    border: none;

}

.dropdown-item {
    color:rgb(247, 11, 108);
   
}

.dropdown-item:hover {
    
    color:rgb(117, 75, 35);
}


.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color:blue;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    
    color: rgb(117, 75, 35);
    
}

.carousel-indicators li{
   background-color:gray;
}



.hsecciones {
    margin-top: 5%;
    font-size: 3em;
    color:rgb(95, 2, 31);
    text-align: center;
    font-family:MonotypeCorsiva;
}

#pquienessomos {
    text-align: center;
    padding: 10%;
    font-family:MonotypeCorsiva;
    font-size:xx-large;
}

#divquienessomos{
    height: auto;
    
}

#divnuestrahistoria {
    height: auto;

}

#hmision {
    color: white;

}
#divmision {
    background-color:rgb(95, 2, 31);
    color:white;
    height: auto;
    
    
}


#pmision {
    text-align: justify;
    padding: 10%;
    font-family:MonotypeCorsiva;
    font-size:xx-large;
}

#pvision {
    text-align: justify;
    padding: 10%;
    font-family:MonotypeCorsiva;
    font-size:xx-large;
}

#poligono {
    position: relative;
    width: 100%;
    margin-top: -5%

}



#cardfooter{
    position: relative;
	margin-bottom:0;
	left:0;
    width: 100%;
    border: 0px;
    bottom: 0px;
    right: 0px;
   	
}

.card-body-1 {
	height:300px;
	background-color:rgba(39, 38, 41, 0.9);
    background-color: black;
	color:white;
    border-bottom: 1px solid;
    border-color: black;
       
	
}

.listafooter{
    float: center;
    text-align: center;
    margin-top: 7%;
    
}



#cuadrobotonmensaje

{

    text-align: center;
    margin-top: 4%;
    
	}

#modalmensaje {
	margin-top:120px;
	border-color:black;
	color:black;
	
}

.alert-primary{
	position:fixed;
	z-index:1000;
	margin-top:20px;
	border-radius:50px;
    display: none;
		
}


.imgfooter:hover{
    filter: blur(1px);
    
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(icono/icono2.png);
}

#pnuestrahistoria {
    text-align: center;
    padding: 10%;
    font-family:MonotypeCorsiva;
    font-size:xx-large;
}













/* Estilos Responsive */
@media screen and (max-width: 412px) {

    #pquienessomos {
            font-size: 100%;
          
        }    

     #pmision {
            font-size: 100%;
          
        }   
        
     #pvision {
            font-size: 100%;
          
        }       


    .hsecciones{

            font-size: 130%;
    }

    #hmisiones {
             font-size: 130%;

    }

 

   .imgfooter{
       width: 30px;
       height:30px;
      
   }

   .listafooter{
     
    margin-top: 50%;
   }
   
   #logonav {

        width: 100px;
        height: 36px;
        background-image:url("Logomarron-iloveimg-resizedcopia.png");
        background-repeat: no-repeat;
        display: inline-block;
        margin-left: 2%;
            

   }


   

    }