
/*Fuentes Alternativas */
@font-face
{

font-family: SegoeUI;
src:url(fonts/SegoeUI.ttf) format('truetype');

}

@font-face
{
    font-family: MisteryQuest;
src:url(fonts/MysteryQuest.ttf) format('truetype');
}

@font-face
{    
font-family:MonotypeCorsiva;
src:url(fonts/MonotypeCorsiva.ttf) format('truetype');
}

@font-face
{    
font-family:RalewayLight;
src:url(fonts/RalewayLight.ttf) format('truetype');
}

@font-face
{    
font-family:RalewayThinItalic;
src:url(fonts/RalewayThinItalic.ttf) format('truetype');
}

@font-face
{    
font-family:Oneday;
src:url(fonts/Oneday.ttf) format('truetype');
}


#headernav {

        width: 100%;
        height: 90px;
        
}

#navprincipal {
    z-index:9999;
    background-color:white;
    position: fixed;
    width: 100%;
    font-family:RalewayLight;
      
}


#logonav {
    
    height: 72px;
    width: 200px;
    background-image:url("Logomarron-iloveimg-resized.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 2%;
    
}

.navbar-nav {
    margin-left: 45%;
    float: right;
    
         }
    

.navbar-dark .navbar-nav .nav-link {
    
    color: rgb(247, 11, 108);
    font-weight: 400;
    font-size: 1em;
       
}


.dropdown-menu{ 
    background-color:white;
    border: none;

}

.dropdown-item {
    color:rgb(247, 11, 108);
   
}

.dropdown-item:hover {
    
    color:rgb(117, 75, 35);
}


.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color:blue;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    
    color: rgb(117, 75, 35);
    
}

.carousel-indicators li{
   background-color:gray;
}



.hsecciones {
    margin-top: 5%;
    font-size: 3em;
    color:rgb(95, 2, 31);
    text-align: center;
    font-family:Oneday;
}

#pquienessomos {
    text-align: center;
    padding: 10%;
    font-family:RalewayLight;
    font-size:xx-large;
}

#divquienessomos{
    height: auto;
    
}

#divnuestrahistoria {
    height: auto;

}

#hmision {
    color: white;
    font-family: Oneday;
    

}
#divmision {
    background:linear-gradient(rgba(45, 17, 92, 0.521), rgba(154, 75, 94, 0.92));
    color:white;
    height: auto;
    
   
}
svg {
    width:100%;
    
  }


#pmision {
    text-align: justify;
    font-family:RalewayLight;
    font-size:xx-large;
}

li.livision {
    text-align: justify;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-family:RalewayLight;
    font-size:xx-large;
}





#poligono {
    position: relative;
    width: 100%;
    margin-top: -5%

}



#cardfooter{
    position: relative;
	margin-bottom:0;
	left:0;
    width: 100%;
    border: 0px;
    bottom: 0px;
    right: 0px;
   	
}

.card-body-1 {
	height:300px;
	background-color:rgba(187, 187, 187, 0.4);
	
    border-color:none;
       
	
}

.listafooter{
    float: center;
    text-align: center;
    margin-top: 7%;
    
}



#cuadrobotonmensaje{

    text-align: center;
    margin-top: 4%;
    
	}

#botonmensaje {
    color:rgb(247, 11, 108);
    font-family: RalewayLight;
    font-weight: bold;


}


#modalmensaje {
	margin-top:120px;
	border-color:black;
	color:black;
	
}

.alert-primary{
	position:fixed;
	z-index:1000;
	margin-top:20px;
	border-radius:50px;
    display: none;
		
}


.imgfooter:hover{
    filter: blur(1px);
    
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(icono/icono3.png);
}

.pnuestrahistoria {
    text-align: center;
    padding: 10%;
    font-family:RalewayLight;
    font-size:xx-large;
}

#divbiografia  {

    text-align: center;
    background-image: url('../Imagenes/Instructora.png');
    background-repeat: no-repeat;
    width: 500px;
    height: 680px;
    margin: auto;
    margin-bottom: 5%;
    
}

.modal {

    position:fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    top: 0px;
    left:0px;
   
}

.modalimg {
    width: 100%;
    height: 50px;
   
   
}

.modalboton {
    width: 50px;
    height:50px;
    color:white;
    font-size: 25px;
    text-align: center;
    background: red;
    border-radius: 50%;
    cursor:pointer;
}














/* Estilos Responsive */
@media screen and (max-width: 412px) {

    #pquienessomos {
            font-size: 110%;
          
        }    

     #pmision {
            font-size: 110%;
          
        }   
        
     #pvision {
            font-size: 110%;
          
        }   
        
        li.livision {
            font-size: 110%;
          
        }   
      .pnuestrahistoria {
            font-size: 110%;
          
        }       


    .hsecciones{

            font-size: 130%;
    }

    #hmisiones {
             font-size: 130%;

    }

 

   .imgfooter{
       width: 30px;
       height:30px;
      
   }

   .listafooter{
     
    margin-top: 50%;
   }
   
   #logonav {

        width: 100px;
        height: 36px;
        background-image:url("Logomarron-iloveimg-resizedcopia.png");
        background-repeat: no-repeat;
        display: inline-block;
        margin-left: 2%;
            

   }

   #divbiografia{

    width: 300px;
    height: 420px;
    background-image:url("../Imagenes/Bibliografia.png");
    background-repeat: no-repeat;
    background-color: black;
  
    margin: auto;
        

}  

 }